@function breakpoint-parse-query($query) {
  $length: length($query);
  $mq: 'all ';

  // If it's a single number
  @if $length == 1 {
    @return $mq + 'and (min-width: ' + $query + ')';
  }

  // If we've got a string/number
  @if (type-of(nth($query, 1)) == 'string' and type-of(nth($query, 2)) == 'number') {
    @return $mq + 'and (' + nth($query, 1) + ': ' + nth($query, 2) + ')';
  }

  // If they're both numbers, we assume it's a double and roll with that
  @if (type-of(nth($query, 1)) == 'number' and type-of(nth($query, 2)) == 'number') {
    @return $mq + 'and (min-width: ' + nth($query, 1) + ') and (max-width: ' + nth($query, 2) + ' )';
  }

  // Else assume is a list of properly formatted mq
  @each $single-query in $query {
    $mq: $mq + 'and (' + nth($query, 1) + ': ' + nth($query, 2) + ')';
  }
  @return $mq;
}


@mixin breakpoint($query) {
  $query-string: breakpoint-parse-query($query);

  @media #{$query-string} {
    @content;
  }

  // Missing the no query fallbacks code
}

$mamabear: 32em;

.tagline{
  @include font-size(18);
  font-weight: 400;
  text-align: center;
}

.section 
{
  text-align: center;
  .product--img {
    max-width: 60%;
    max-height: 20em;
    @include breakpoint($mamabear){
      max-height: 20em;
    }
  }
}

.banner {
  background-color: black;
  color: white;
//  display: inline-block;
// padding: 0 $margin/4;
transform: skew(-15deg) rotate(-15deg);
}

.face {
  // width: 100%;
  @extend .pull-left;
  margin: 0 $margin/2;
  // margin-bottom: rem($line);
  @include breakpoint($mamabear){
    width: 50%;
  }
}

.face--img{
  border-radius: 50%;
}

.face--caption{
  text-align: center;
}

.footer a{
  padding-left: $margin/2;
  padding-right: $margin/2;
}

.product{
  // text-align: left;
  position: relative;
}

.product--price{
  // display:inline-block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem($line);
  // transform: skew(-15deg) rotate(-15deg);
  //clear: left;
  // z-index:100;
  // position:absolute;    
  // color:white;
  //font-size:24px;
  //font-weight:bold;
  // left: 0px;
  // width: 100%;
  // top: 350px;
  // background: black;
  // text-align: left;
}

