@function breakpoint-parse-query($query) {
  $length: length($query);
  $mq: 'all ';

  // If it's a single number
  @if $length == 1 {
    @return $mq + 'and (min-width: ' + $query + ')';
  }

  // If we've got a string/number
  @if (type-of(nth($query, 1)) == 'string' and type-of(nth($query, 2)) == 'number') {
    @return $mq + 'and (' + nth($query, 1) + ': ' + nth($query, 2) + ')';
  }

  // If they're both numbers, we assume it's a double and roll with that
  @if (type-of(nth($query, 1)) == 'number' and type-of(nth($query, 2)) == 'number') {
    @return $mq + 'and (min-width: ' + nth($query, 1) + ') and (max-width: ' + nth($query, 2) + ' )';
  }

  // Else assume is a list of properly formatted mq
  @each $single-query in $query {
    $mq: $mq + 'and (' + nth($query, 1) + ': ' + nth($query, 2) + ')';
  }
  @return $mq;
}


@mixin breakpoint($query) {
  $query-string: breakpoint-parse-query($query);

  @media #{$query-string} {
    @content;
  }

  // Missing the no query fallbacks code
}

.row--header{
  text-align: center;
  margin-bottom: rem($line);
}

.branding{
  @include breakpoint($mama){
    width:50%;
    display: inline;
    float:left;
  }
}

.logo{
  text-align: center;
}

.tagline{
  @include font-size(18);
  font-weight: 400;
  text-align: center;
  display: inline-block;
}

.horizontal-nav {
  text-align: left;
  @include breakpoint($mama){
    margin-top: 75px;
    text-align: center;
    .trigger {
      display: none;
    }
    ul {
      max-height: none;
    }
    li {
      border-left: 1px solid #ccc;
      &:nth-of-type(1){
        border-left: none;
      }
    }
  }
}

.section 
{
  font-size: 0;
  text-align: center;
  .product--img{
    max-height: 20em;
    @include breakpoint($baby){
      max-height: 20em;
    }
  }
}

.main{
  .product{
    @include breakpoint($baby){
      width:50%;
    }
    @include breakpoint($mama){
      width:$c3;
    }
    @include breakpoint($papa){
      width:$c4;
    }
  }
}

.product{
  font-size: 18px;
  font-size: 1.125rem;
  display:inline-block;
  position: relative;
  padding-left: $margin/2;
  padding-right: $margin/2;
}


.product-images{
  @include breakpoint($baby){
    @include gutter;
    width: 50%;
    display:inline-block;
    float: left;
  }
  @include breakpoint($mama){
    width: $c3;
  }
}

.product_details{
  float: left;
  @include breakpoint($baby){
    width: 50%;
    @include gutter;
  }
  @include breakpoint($mama){
    width: 2*$c3;
  }
}

.product--price{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem($line);
}

.single-product div.product .product-images .thumbnails a {
  display: block;
  width: 33.3%;
  margin-right: 3.8%;
  float: left;
  margin-bottom: 1em;
}



.product_title{
  @include breakpoint($baby){
    // float: left;
    // display: inline-block;
    // width: 50%;
    @extend %group;
  }
}

.product_features{
  padding-left: $margin;
  padding-right: $margin;
  list-style-type: disc;
  list-style-position: outside;
}

.face {
  @extend .pull-left;
  margin: 0 $margin/2;
  @include breakpoint($baby){
    width: 50%;
  }
}

.face--img{
  border-radius: 50%;
}

.face--caption{
  text-align: center;
}

.footer a{
  padding-left: $margin/2;
  padding-right: $margin/2;
}

.banner {
  background-color: black;
  color: white;
  transform: skew(-15deg) rotate(-15deg);
}
