//* =============================================================================
//   Default Colours
//   ========================================================================== */

$background: #FFFFFF;
$dark-background: #DDDDDD;
$text: #333333;
$mid-text: #666666;
$light-text: #AAAAAA;
$red: #d13731;
$blue: #444;

$accent: $red; //Primary accent color